@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;1,100&family=Open+Sans:wght@500&family=Poppins:wght@100&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans:ital,wght@0,100;1,100&family=Open+Sans:wght@500&family=Poppins:wght@100&family=Roboto:wght@500&display=swap');
.root {
    --main-bog-color: rgb(88, 62, 14);
    --foot1: 'Roboto', sans-serif;
    --foot2: 'Lato', sans-serif;
}

.center {
    text-align: center;
}

.font1 {
    font-family: var(--foot1);
}

.font2 {
    font-family: var(--font2);
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.mx-1 {
    margin-left: 23px;
    margin-right: 23px;
}

.my-2 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.btn {
    padding: 0px 20px;
    padding-top: 3px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--foot1);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: white;
    background: brown;
}

.from-input {
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--foot1);
}

.form-box input,
textarea {
    width: 52vw;
    padding: 0px 6px;
    margin: 7px 0;
    font-size: 18px;
    font-family: var(--foot1);
    border: 2px solid orange;
    border-radius: 5px;
}